html{
    height:100%;
}

body{
    height:calc(100vh - 164px);
    font-family: sans-serif;
}

.pink{
    color:#ffb6c1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color:#ffb6c1;
}

.logo-font {
    font-family:'Dancing Script', cursive;
}

.logo-text{
    font-size:3rem;
}

.main-logo-link {
    width: fit-content;
}

.border-top{
    background: url('/media/border-top.jpg');
}

.border-bottom{
    background: url('/media/border-bottom.jpg');
    position:sticky;
    bottom:2rem;
}
.footer{
    position:sticky;
    bottom:0;
    min-width:100vw;
}

.pattern-border{
    background-size:contain;
    filter: grayscale(100%);
    min-width:100vw;
    min-height:8vh;
}

/* Home page */ 

.welcome{
    font-size:5rem;
}

.welcome-text{
    font-size:1.2rem;
}

.home-img{
    background: url('/media/henna-art.jpg') no-repeat center;
    background-size:cover;
    min-height:30vh;
    min-width:100vw;
}

.button-shop{
    background: url('/media/button-shop.png') no-repeat;
    background-size:contain;
    min-height:20rem;
}

.button-subscribe{
    background: url('/media/button-sub.png') no-repeat;
    background-size:contain;
    min-height:20rem;
}

.button-text{
    position: absolute;
    top: 70%;
    left: 45%;
    font-size: 2.5rem;
    font-weight: bolder;
    transform: translate(-50%, -50%);
}

/*
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
*/

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.buffer{
    min-height:2.5rem;
}

/* -------------------------------- Media Queries */

/* mobile styling*/
/*------SMALL MOBILE------------*/
@media (max-width:350px){
    .button-text{
        top:65%;
    }
}
/*------LARGE MOBILE------------*/
@media (max-width:426px){
    .buffer{
        min-height:6rem;
    }

    .welcome{
        font-size:3rem;
    }

    .welcome-text{
        font-size:1rem;
    }
}
/*-----TABLET--------------*/
@media (min-width: 768px){
    .button-text{
        top: 50%;
        left: 50%;
        font-size: 2rem;}
}
/*-----LAPTOP---------------*/
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
      .button-center{
    padding-left:4rem;
}

    .header-container {
        padding-top: 164px;
    }

    .button-text{
        top: 58%;
        left: 55%;
        font-size: 2rem;
    }
}

/*-----XL SCREENS-----------*/
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
  .button-text{
        top: 70%;
        left: 45%;
  }
}

