<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="stencils" data-toggle="dropdown">
                Stencils
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stencils">
                <a href="" class="dropdown-item">Luxe packs</a>
                <a href="" class="dropdown-item">Mini packs</a>
                <a href="" class="dropdown-item">Hands/Feet</a>
                <a href="" class="dropdown-item">Eyebrow</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="tools" data-toggle="dropdown">
                Tools
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tools">
                <a href="" class="dropdown-item">Stamps</a>
                <a href="" class="dropdown-item">Precision tools</a>
                <a href="" class="dropdown-item">Eyebrow tools</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="henna" data-toggle="dropdown">
                Henna
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="henna">
                <a href="" class="dropdown-item">Cones</a>
                <a href="" class="dropdown-item">Powders</a>
            </div>
        </li>
    </ul>
</div>