{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="buffer"></div>
    <div class="row">
            <div class="col-12">
                <div class="pattern-border border-top"></div>
            </div>
        </div>
    <div class="row">
        <div class="col-10 offset-1">
            <p class="welcome logo-font pink text-center">Community</p>
        </div>
    </div>
</div>

<div class="row">
        <div class="col-12">
            <div class="pattern-border border-bottom mt-3"></div>
        </div>
        </div>
{% endblock %}